.new-chat-page {
    width: 100%;
    height: 100%;
}

.new-chat-page__search {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}

.new-chat-page__search__input {
    width: 100%;
    height: 30px;
    padding: 0px 15px;
    font-size: 18px;
}

.new-chat-page__not-found-holder {
    text-align: center;
    color: #555;
    margin-top: 10px;
}