.new-chat-page {
    width: 100%;
    height: 100%;
}

.new-chat-page__search {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    padding: 0px 20px;
}

.new-chat-page__exit-button {
    font-size: 22px;
    color: rgb(158, 158, 255);
    margin-right: 20px;
    text-decoration: none;
}

.new-chat-page__search__input {
    flex: 1 0 auto;
    height: 30px;
    font-size: 18px;
}

.new-chat-page__not-found-holder {
    text-align: center;
    color: #555;
    margin-top: 10px;
}